
<div class="game">
    <strong>Guess the number</strong>
    <div class="match-val">correct digit</div>
    <div class="match-pos">correct position</div>
    <div>digits: @digitCount</div>
    <hr/>
    @if (guesses == null)
    {
        <h1>Loading...</h1>
    }
    else
    {
        <div class="guesses">
            @foreach (var row in guesses)
            {
                @for (int i = 0; i < digitCount; i++)
                {
                    <span class="@row.Matches[i]">
                        @row.Guess[i]
                    </span>
                }
                <br />
            }

            @if (winner)
            {
                <span>Winner!</span>
                <div>
                    <button @onclick="PlayAgain">Play Again</button>
                </div>
            }
            else
            {
                <input type="text"
                    @bind=guess
                    class="guess"
                    inputmode="numeric"
                    size="@digitCount"
                    maxlength="@digitCount" />
                    <button @onclick="GuessAnswer">Guesss</button>
            }
        </div>

    }
</div>
